/*
	main.css - Main stylesheet
*/

*{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	margin: 0px;
	height: 100vh;


}

a{
	text-decoration: none;
}



#main{

}

	/* FORMAT FOR THE NAVIGATION AREA */
	#main #navigation{
		background-color: #ccc;
		border-bottom: 1px solid #000;
	}
		#main #navigation ul{
			display: block;
		}
			#main #navigation ul li{
				list-style: none;
			}
			#main #navigation ul li a{
				display: block;
				padding: 8px 10px;
				float: left;
				color: black;
			}
			#main #navigation ul li a:hover{
				background-color: #eee;
			}

	/* FORMAT FOR THE MAIN CONTENT AREA */
	#main #content{
		background-color: #fff;
		padding: 50px;
		color: #000;

		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px; /* future proofing */
		-khtml-border-radius: 10px; /* for old Konqueror browsers */
	}


		#main #content h2{
			margin-bottom: 15px;
		}


	.search{
		padding: 10px;
	}
		.search td{
			padding: 3px;
		}

/* STYLE F\THE FORM ITEMS */
	input[type=text], input[type=password]{
		padding: 8px 8px;
		min-width: 300px;
	}
	input[type=submit], input[type=button]{
		padding: 5px 8px;
		background-color: #eee;
		border: 1px solid #ccc;
		color: #333;
		cursor: pointer;
		font-size: 20px;
	}
		input[type=submit]:hover, input[type=button]:hover{
			background-color: #aaa;
		}
	textarea{
		padding: 8px 8px;
		min-width: 300px;
	}

/* SETUP SOME GENERIC STYLES */
	h3{
		font-size: 20px;
		margin: 0px;
	}
	hr{
		border: 1px solid #000;
		margin: 8px 0px;
	}
	.required{
		border: 1px solid red;
	}

	table td{
		padding: 5px;
	}


	.right {float: right; }
	.left	{float: left; }
	.clear	{clear: both; }
	.center {margin: auto auto;}
	.red{color:red;}
	p{margin-bottom: 8px;}

	.error{
		background-color: #eee;
		color: #000;
		border: 1px solid red;
		padding: 8px;
	}

	.success{
		background-color: #eee;
		color: #000;
		border: 1px solid green;
		padding: 8px;
	}



	.header {
		display: flex;
		background: rgb(204, 99, 13);
		height: 75px;
		font-size: x-large;
		color: white;
		font-weight: bolder;
		align-items: center;
		justify-content: center;
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	}

	.title {
		margin: 10px;
		flex-shrink: 0;

	}

	ul {
		list-style-type: none;
		display: flex;
		margin: 10px;
		gap: 20px;
		flex-shrink: 0;
		border-width:  10px;
		border-radius: 2px;
		border-color: seashell;

	}

	ul:link {
		color: white;
	}

	.left {
		display: flex;
		gap: 16px;
	}


	.content {
		margin: 250px;
		gap: 30px;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	.main-text {
		font-size: xx-large;

	}

	.footer {
		display: flex;
		justify-content: center;
		padding: 16px;
		background: rgb(204, 99, 13);
		color: white;
		font-size: large;
		font-weight: bold;
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
