img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.search-quality {
    padding: 0 10rem;
}

.search-quality-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    object-fit: contain;
}

.search-quality-wrapper {
    position: relative;
    margin: 50px 45px;
}

.search-quality-container > h1 {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 5rem;
    color: #e7dfda;
    font-size: 40px;

}

.search-quality-container > span {
    margin-top: 1rem;
    margin-left: 3rem;
    color: #e7dfda;
    font-size: 20px;
}

.search-quality-field {
    color: #0e0b16;
    background-color: rgba(255,255,255,0.5);
    font-size: 20px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%; /*add dependences from size of window*/
    height: 50px;
}

.search-quality-field::placeholder {
    color: #0e0b16;
}