video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.search-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.2);
    object-fit: contain;
}

.search-container > h1 {
    color: #e7dfdd;
    font-size: 80px;
}

.search-field {
    color: #0e0b16;
    font-size: 20px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    width: 1000px; /*add dependences from size of window*/
    height: 50px;
}

@media screen and (max-width: 960px) {
    .search-container > h1 {
      font-size: 50px;
    }
    .search-field {
        color: #0e0b16;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        margin-top: 25px;
        width: 600px; /*add dependences from size of window*/
        height: 40px;
    }

  }
  
@media screen and (max-width: 768px) {
    .search-container > h1 {
      font-size: 30px;
    }

    .search-field {
        color: #0e0b16;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: none;
        margin-top: 25px;
        width: 500px; /*add dependences from size of window*/
        height: 40px;
    }
}